
@import url(./blocks/description/two-columns/two-columns.css);
@import url(./blocks/description/two-columns/__span-accent/two-columns__span-accent.css);
@import url(./blocks/description/two-columns/__paragraph/two-columns__paragraph);
@import url(./blocks/description/two-columns/__main-text/two-columns__main-text);
@import url(./blocks/description/two-columns/__brief/two-columns__brief.css);



.description {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}