@import url(_theme/section-title_theme_dark.css);

.section-title {
    width: 60%;
    font-weight: bold;
    font-size: 60px;
    margin: auto auto 20px;
    line-height: 69px;
    text-align: center;
}