@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);

/* Forgive me, once you say if I use '../' it means wrong path,
but then I see that '@import url(./table/table.css);' also wrong path */
@import url(../table/table.css); 
@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    position: relative;
    padding-top: 90px;
    color: white;
    background-color: #000000;
    overflow: hidden;
}