@import url(./blocks/kaufman/table/__theme/table__theme_dark.css);
@import url(./blocks/kaufman/table/__theme/table__heading_theme_dark.css);
@import url(./blocks/kaufman/table/__theme/table__cell_theme_dark.css);
@import url(./blocks/kaufman/section/section-subtitle_theme_dark.css);
@import url(./blocks/kaufman/section/section_title_theme_dark.css);
@import url(./blocks/kaufman/__triangle/kaufman__triangle.css);



.kaufman {
    position: relative;
    padding-top: 90px;
    color: white;
    background-color: #000000;
    overflow: hidden;
}