@import url(__cell/table__cell.css);
@import url(__heading/table__heading.css);
@import url(__text/table__text.css);
@import url(_theme/table_theme.css);

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    margin: auto;
}