.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
    position: relative;
    display: flex;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-block-end: 0;
}

.logo {
    background-size: contain;
    height: 31px;
    width: 154px;
    background-repeat: no-repeat;
}

.logo_place_header {
    background-image: url(../images/logo.png);
    position: absolute;
    left: 64px;
    top: 30px;
}

.header__title {
    align-self: center;
    line-height: 96px;
    width: 730px;
    margin-left: 64px;
    font-weight: bold;
    font-size: 102px;
    z-index: 1;
}

.header__subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: 388px;
    bottom: 30px;
    left: 64px;
    margin-block-end: 0;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}

.header__main-illustration {
    height: 608px;
    width: 765px;
    background-image: url(../images/on_the_edge.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header__square-pic {
    position: absolute;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    top: 64px;
    right: 0px;
}

.description {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
  
.two-columns {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
  }
  
.two-columns__brief {
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    width: 175px;
    font-weight: normal;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    margin-top: 0;
    padding-bottom: 30px;
}
  .two-columns__main-text {
    flex-direction: column;
    display: flex;
    width: 80%;
    min-width: 784px;
    justify-content: space-between;
  }
  
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    margin-top: 100px;
  }

.section-title {
    width: 60%;
    font-weight: bold;
    font-size: 60px;
    margin: auto auto 20px;
    line-height: 69px;
    text-align: center;
}

.section-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin: auto;
    text-align: center;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    margin: auto;
}

.table__digits {
    padding-top: 60px;
}

.table__cell {
    margin-bottom: 60px;
}

.table__cell_theme_light {
    width: 250px;
}

.table__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.15;
    margin: 0;
}

.table__text {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.2;
}

.feynman {
    height: 790px;
    background-position: bottom left;
    background-image: url(../images/feynman.png);
    background-size: 867px 637px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: relative;
}

.feynman__title {
    line-height: 1.15;
    font-weight: bold;
    width: 770px;
    font-size: 120px;
    margin-top: 0;
    text-align: center;
    margin: 0 auto;
}

.feynman__subtitle {
    margin: 70px 0 0;
    line-height: 51px;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    color: #000000;
    text-decoration: none;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
}

.kaufman {
    position: relative;
    padding-top: 90px;
    color: white;
    background-color: #000000;
    overflow: hidden;
}

.section-title_theme_dark {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0;
    width: 60%;
    z-index: 2;
    color: white;
    background-color: #000000;
}

.table__theme_dark {
    padding-bottom: 90px;
    z-index: 1;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    z-index: 1;
    margin-top: 60px;
}

.table__heading_theme_dark {
    line-height: 1.15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    background-color: #000000;
}

.kaufman__triangle {
    background-image: url(../images/triangle.svg);
    position: absolute;
    top: 0;
    right: -210px;
    width: 877px;
    height: 877px;
    overflow: hidden;
}

.footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color: white;
    min-height: 350px;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer__column {
    margin-block-end: 0;
    margin-block-start: 0;
    background: transparent;
}

.footer__column_content-copyright {
    position: relative;
    flex-basis: 711px;
}

.logo_place_footer {
    background-image: url(../images/logo_white.png);
}

.footer__author {
    position: absolute;
    left: 0;
    font-weight: normal;
    bottom: 0;
    line-height: 25px;
    font-size: 18px;
    color: #4f4f4f;
}


.footer__column_content_info {
    max-width: 240px;
    flex-direction: column;   
}


.footer__column-heading {
    margin-block-start: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
}

.footer__column-links {
    padding: 0;
}

.footer__list-item {
    list-style-type: none;
}

.footer__link {
    color: #4f4f4f;
    display: flex;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

.footer__social-icons {
    color: #4f4f4f;
    text-decoration: none;
}

.footer__column_content-social {
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
}

